<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<body>
<div class="da">
<div class="ban"><img src="images/ban.jpg" /></div>
<div class="dao"><ul>
<li><a href="index.html">首页</a></li>
<li><a href="jianjie.html">故事简介</a></li>
<li><a href="jiaose.html">动漫人物</a></li>
<li><a href="shipin.html">视频欣赏</a></li>
<li><a href="liuyan.html">观后留言</a></li>
</ul></div>

<div class="ye"><h2>漩涡鸣人</h2></div>
<div class="ju"><p>日本漫画家岸本齐史作品《火影忍者》中男主角。因为身上封印着邪恶的九尾妖狐，无父无母的他受尽了村人的冷眼与歧视，他下定决心要成为第六代火影，让所有人都认同他的存在，在旗木卡卡西老师的带领下，与佐助、小樱一起踏上了修行之路<img src="images/1.JPG" width="400"  align="right" / style="padding:10px 0 0 10px;">。 如今，他已经因为阻止佩恩袭击木叶而成为一名人人称道的英雄，并且在第四次忍界大战中发挥着举足轻重的作用。
    <br />
<br /><b>生日：</b>10月10日
<br /><br /><b>年龄：</b>12-13岁（第一部） 16岁（第二部）
<br />
<br /><b>级别：</b>下忍(其实力已达到超S级别的忍者）
<br /><br /><b>梦想：</b>继承火影之名，并且超越前几代的所有火影。还有 成为比爸爸更帅的男人，以及 成为比妈妈更强的忍者。
<br /><br /><b>通灵兽：</b>蛤蟆吉、蛤蟆龙、蛤蟆文太、蛤蟆建、蛤蟆广
<br /><br /><b>身份：</b>火之国木叶村下忍（但实际上已经是超影级的忍者）、旗木卡卡西的弟子之一、四代火影波风水门之子、木叶三忍之一自来也的弟子、是大蛤蟆仙人传说的“预言之子”、“救世主”、“意外性NO.1忍者”。
</p>
</div>

<div class="foot"><p>火影忍者</p></div>
</div>
</body>
</html>
