<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/style1.css">

<body>


<div class="da">

<div class="dao">
	<ul id="main_menu">
	<li>互评选</li>
	<li ><a href="index.html">首页</a></li>
	<li ><a href="xiangmu.html" class="main_item">项目介绍</a>
		<ul class="main_menu" style="background: #FFFFFF;">
			<li><a href="#">住宿类</a></li>
			<li><a href="#">饮食类</a></li>
			<li><a href="#">教学类</a></li>
			<li><a href="#">情感类</a></li>
		</ul>
	</li>
	<li ><a href="renyuan.html" class="main_item">关于我们</a>
		<ul class="main_menu" style="background: #FFFFFF;">
			<li><a href="#">毛恩赐</a></li>
			<li><a href="#">刘海</a></li>
		</ul>
	</li>
<li ><a href="lianxi.html">联系我们</a></li>
<li><button type="button">登录</button>&nbsp;<button type="button" id="button1">注册</button></li>
</ul>
</div>
<div class="ban"><img src="images/ban.jpg" /></div>

<div class="liu"><h2>用户留言</h2></div>
<div class="ba">
<div class="xing"><p>用户名:</p></div>
<div class="mi"><input name="" type="text" /></div>
</div> 
 <div class="ba">
<div class="xing"><p>邮 箱:</p></div>
<div class="mi"><input name="" type="text" /></div>
</div> 
<div class="ba">
<div class="xing"><p>喜欢人物:</p></div>
<input type="checkbox" />漩涡鸣人
        <input type="checkbox" />宇智波佐助
        <input type="checkbox" />其他
</div> 
<div class="ba">
<div class="xing"><p>喜爱程度:</p></div>
<input type="range" min="1" max="120" />
</div> 
<div class="bie">
<div class="nan"><p>性别：</p></div>
<div class="nv"><p>男</p></div>
<div class="yuan"><input type="radio" name="sex" /></div>
<div class="nv"><p>女</p></div>
<div class="yuan"><input type="radio" name="sex" /></div>
</div>
<div class="mian"><p>留 言:</p></div>
<div class="ka"><textarea name="" cols="" rows=""></textarea></div>
<div class="an">
<div class="azuo"><input name="" type="submit" /></div>
<div class="ayou"><input name="" type="reset"/></div>
</div>



<div class="foot"><p>火影忍者</p></div>
</div>
</body>
</html>
