<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/style1.css">

<body>
<div class="da">

<div class="dao">
	<ul id="main_menu">
	<li>互评选</li>
	<li ><a href="index.html">首页</a></li>
	<li ><a href="xiangmu.html" class="main_item">项目介绍</a>
		<ul class="main_menu" style="background: #FFFFFF;">
			<li><a href="#">住宿类</a></li>
			<li><a href="#">饮食类</a></li>
			<li><a href="#">教学类</a></li>
			<li><a href="#">情感类</a></li>
			<li><a href="shipin.html">视频介绍</a></li>
		</ul>
	</li>
	<li ><a href="renyuan.html" class="main_item">关于我们</a>
		<ul class="main_menu" style="background: #FFFFFF;">
			<li><a href="#">毛恩赐</a></li>
			<li><a href="#">刘海</a></li>
		</ul>
	</li>
<li><a href="lianxi.html">联系我们</a></li>
<li><button type="button">登录</button>&nbsp;<button type="button" id="button1">注册</button></li>
</ul>
</div>
<div class="ban"><img src="images/ban.jpg" /></div>

<div class="ye"><h2>视频欣赏</h2></div>
<div class="ju">
  <p>2010年5月《火影忍者》在日本国内发行量突破一亿，是集英社创社以来继《乌龙派出所》、《龙珠》、《灌篮高手》、《海贼王》之后第五部发行量超过一亿册的漫画。截至2014年，《火影忍者》漫画已在全世界累计发行超过2亿部</p>
</div>

<div class="sp">
  <ul>
     <li><video id="media"  width="460" controls> 
  <source src="../static/video/s%20(1).mp4">
  </video>
     </li>

    <li><video id="media"  width="460" controls> 
  <source src="../static/video/s%20(4).mp4">
  </video>
    </li>
  </ul>
</div>

<div class="ye"><h2>作品影响</h2></div>

<div class="ju">
  <p>2010年5月《火影忍者》在日本国内发行量突破一亿，是集英社创社以来继《乌龙派出所》、《龙珠》、《灌篮高手》、《海贼王》之后第五部发行量超过一亿册的漫画。</p>
   <p>截至2014年，《火影忍者》漫画已在全世界累计发行超过2亿部。</p>
</div>

<div class="foot"><p>火影忍者</p></div>
</div>
</body>
</html>
